In [1]:
import pandas as pd
import matplotlib as plt 
import numpy as np
import matplotlib.pyplot as plt
from glob import glob
import seaborn as sns
%matplotlib notebook
import joblib
from palettable import cmocean as cb
from palettable import tableau as tb
from altair import *
from IPython.display import display,SVG,Image
from collections import Counter
import inflect
p = inflect.engine()

In [2]:
file_list0=glob('instacart_2017_05_01/*.csv')
file_list=[i.split('/')[1] for i in file_list0]

In [3]:
for item,path in zip(file_list,file_list0):
    exec('{} = pd.read_csv(\'{}\')'.format(item[:-4],path))

file_list

['orders.csv',
 'departments.csv',
 'order_products__train.csv',
 'aisles.csv',
 'order_products__train_w_dept_id.csv',
 'order_products__prior.csv',
 'order_products__train_prior.csv',
 'products.csv']

In [4]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [5]:
order_products__train_prior.head()

   Unnamed: 0  order_id  product_id  add_to_cart_order  reordered
0           0         1       49302                  1          1
1           1         1       11109                  2          1
2           2         1       10246                  3          0
3           3         1       49683                  4          0
4           4         1       43633                  5          1

In [7]:
%load_ext Cython
%load_ext autoreload

The Cython extension is already loaded. To reload it, use:
  %reload_ext Cython

In [8]:
%reload_ext Cython

In [11]:
x=orders[orders.iloc[:,5]==16]['order_id'].values

In [12]:
len(x)

272553

In [ ]:
all_data=orders[orders.iloc[:,5]==16]['order_id'].values
mask=order_products__train_prior.iloc[:,0]


product_id=order_products__train_prior.product_id.values

def build_pid(all_data,mask,product_id,number):
    zero_pid=[]
    #n = len(product_id)
    N = len(all_data)
    #zero_pid = np.empty(n, dtype='float64')
    for i in range(N):
        zero_pid.extend(product_id[mask == all_data[i]])
        
       
    np.savez('{}_pid.npz'.format(p.number_to_words(number)),zero_pid)
    return zero_pid

In [49]:
thr=build_pid(all_data[:10],mask,product_id,16);

In [ ]:
thr=build_pid(all_data[:],mask,product_id,16);

In [39]:
all_data[:10][0]

2295261